<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="mystyle.css">
</head>
<body>
    <nav id="nav_heading">
        <div id="d_Log" class="logout" style="text-align: right; margin-bottom: 0px">
            <span id="sp_NguoiDung" class="Label" style="color:#FF3300;font-size:12px;font-weight:bold;">Chào bạn Hoàng Hồng Vân (1924801030059)</span>&nbsp;<a id="ctl00_Header1_Logout1_lbtnThongBao" href="javascript:__doPostBack('ctl00$Header1$Logout1$lbtnThongBao','')" style="color:#FF3300;font-size:12px;font-style:italic;font-family: 'Tahoma', Times, serif">Xem thông báo</a><span id="ctl00_Header1_Logout1_lblXiet1" class="Label" style="color:#FF3300;"> | </span>
            <a id="btn_ChangePass" href="javascript:__doPostBack('ctl00$Header1$Logout1$lbtnChangePass','')" style="color:#FF3300;font-size:12px;font-weight:bold;font-family: 'Tahoma', Times, serif">Thay đổi mật khẩu</a>
            <span class="Label" style="color:#FF3300;"> | </span>
            <a id="btn_LogOut" href="javascript:__doPostBack('ctl00$Header1$Logout1$lbtnLogOut','')" style="color:#FF3300;font-size:10pt;font-weight:bold;font-family: 'Tahoma', Times, serif">Thoát</a>
        </div>
    </nav>
    <nav id="nav_contend">
        <div class="div_menu">
            <ul class="menu">
                <li class="active"><a href="#">TRANG CHỦ</a> </li>
                <li><a href="#">Xem thời khóa biểu</a> </li>
                <li><a href="#">Phân công giảng dạy</a> </li>
            </ul>
        </div>
    </nav>
    <p>This is a paragraph.</p>
    <p>This is a paragraph.</p>
    <p>This is a paragraph.</p>
    <p>This is a paragraph.</p>

</body>
</html>